<form action="/brands" method="post">
  <div class="row">
    <!-- Brand Name -->
    <div class="form-group col-sm-6">
      <label for="brand_name">Add Brand</label>
      <input type="text" class="form-control" name="brand_name" placeholder="Enter brand name">
    </div>

  <!-- Submit Button -->
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
