<div class="row">
  <div class="col-sm-12">
    <h1><%= @brand.name %></h1>

<hr>
  <h3>This brand can be found in these stores:</h3>
    <% if @stores.any? %>
      <ul>
        <% @stores.each do |store| %>
          <li>
            <a href="/stores/<%= store.id %>"><%= store.name %></a>
          </li>
        <% end %>
      </ul>
      <% else %>
      <h4>This brand is not currently at any store.</h4>
    <% end %>
  </div>
</div>


<hr>
<a href="/">Home</a>
