<div class="row">
  <div class="col-sm-12">
    <h1><%= @store.name %></h1>

<hr>
    <h3>This store carries the following brands:</h3>
    <% if @brands.any? %>
      <ul>
        <% @brands.each do |brand| %>
          <li>
            <a href="/brands/<%= brand.id %>"><%= brand.name %></a>
          </li>
        <% end %>
      </ul>
      <% else %>
      <h4>No brands are carried at this store yet.</h4>
    <% end %>
  </div>
</div>

<hr>
<a href="/stores/<%= @store.id %>/edit">Edit Store</a>



<hr>
<a href="/">Home</a>
